<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.petsitter">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ActivityMain"
        tools:targetApi="31">
        <activity
            android:name=".CandidateProfileActivity"
            android:exported="false" />
        <activity
            android:name=".UserProfileActivity"
            android:exported="false"
            android:theme="@style/Theme.ActivitySecondary" />
        <activity
            android:name=".CandidatesActivity"
            android:exported="false"
            android:theme="@style/Theme.ActivitySecondary" />
        <activity
            android:name=".RequestPageActivity"
            android:exported="false"
            android:theme="@style/Theme.ActivitySecondary" />
        <activity
            android:name=".AnimalPageActivity"
            android:exported="false"
            android:theme="@style/Theme.ActivitySecondary" />
        <activity
            android:name=".PetHostingRequestActivity"
            android:exported="false"
            android:theme="@style/Theme.ActivitySecondary" />
        <activity
            android:name=".PetSittingRequestActivity"
            android:exported="false"
            android:theme="@style/Theme.ActivitySecondary" />
        <activity
            android:name=".DogWalkingRequestActivity"
            android:exported="false"
            android:theme="@style/Theme.ActivitySecondary" />
        <activity
            android:name=".AddAnimal"
            android:exported="false"
            android:theme="@style/Theme.ActivitySecondary" />

        <activity
            android:name=".PetSitterMainActivity"
            android:exported="false"
            android:theme="@style/Theme.ActivityMain" />

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>